*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: purple;
    padding: 0;
    margin: 20px;
    display: flex;
    height: vh;
    width: vw;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: grey;
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10%;
    box-shadow: green 0 0 10px 2px;
}

#questions {
    margin: 10px;
}

.hide {
    display: none;
}